/*Navigation bar fix*/
@media only screen and (max-width: 918px) {
    .topnavbar li a {
        font-size: 20px;
        padding: 11px 18px;
    }
}

/*Experience & skills fix*/
@media only screen and (max-width: 910px) {
    #skills .lists li div {
        width: 43vw;
    }

    #experience {
        height: 1090px;
    }

    #contacts {
        top: 4070px;
    }

    #experience .lists {
        left: 50%;
        margin-top: 170px;
    }

    #experience .lists li {
        width: 800px;
        height: 400px;
    }

    #experience .lists li iframe,
    #experience .lists li img {
        width: 380px;
        height: 380px;
        left: 10px;
        top: 8px;
        border: #000000 1px solid;
        border-radius: 20px;
    }

    #experience .lists .item1,
    #experience .lists .item2 {
        transform: translateX(-430px);
    }

    #experience .lists .item2 {
        transform: translate(-430px, 450px);
    }

    #experience .lists .item1 a,
    #experience .lists .item2 h1 {
        top: 40%;
        left: 390px;
    }

    #experience .lists .item1 span,
    #experience .lists .item2 span {
        top: 250px;
        left: 50%;
    }
}

/*Navbar disappear (probably should add a dropdown menu)*/
/*education fixes*/
@media only screen and (max-width: 844px) {
    .topnavbar li a {
        display: none;
    }

    .transparent {
        opacity: 100%;
    }

    #sanmar #bg {
        height: 362px;
        width: 740px;
        left: 50vw;
        top: 170px;
        transform: translate(-50%, -181px);
    }

    #sanmar img {
        transform: translate(-115%, 5.5%);
        border: #FFFFFF dashed 2px;
    }

    #sanmar img:hover {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #sanmar #textStuff {
        display: flex;
        border-width: 0;
        height: 340px;
        color: #FFFFFF;
        opacity: 100%;
        border-width: 0;
    }

    #sanmar img:hover~#textStuff {
        border-width: 0;
    }

    #sanmar #textStuff .captioner {
        margin: 0;
        top: 20px;
        color: #FFFFFF;
    }

    #sanmar img:hover~#textStuff .captioner {
        top: 20px;
    }


    #sanmar img:hover+#bg {
        width: 740px;
    }

    #untar #bg {
        height: 362px;
        width: 740px;
        top: 570px;
        transform: translate(-50%, -181px);
    }

    #untar img {
        top: 400px;
        border: #FFFFFF dashed 2px;
        transform: translate(13%, 5.5%);
    }

    #untar img:hover {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #untar #textStuff {
        display: flex;
        border-width: 0;
        height: 340px;
        color: #FFFFFF;
        opacity: 100%;
        border-width: 0;
        transform: translateX(-90%);
    }

    #uuntar img:hover~#textStuff {
        border-width: 0;
    }

    #untar #textStuff .captioner {
        margin: 0;
        top: 20px;
        color: #FFFFFF;
    }

    #untar img:hover~#textStuff .captioner {
        top: 20px;
    }

    #untar img:hover+#bg {
        width: 740px;
    }



}