/*Navigation bar fix*/
@media only screen and (max-width: 918px) {
    .topnavbar li a {
        font-size: 20px;
        padding: 11px 18px;
    }
}

/*Experience & skills fix*/
@media only screen and (max-width: 910px) {
    #skills .lists li div {
        width: 43vw;
    }

    #experience {
        height: 1090px;
    }

    #contacts {
        top: 4070px;
    }

    #experience .lists {
        left: 50%;
    }

    #experience .lists li {
        width: 800px;
        height: 400px;
    }

    #experience .lists li iframe,
    #experience .lists li img {
        height: 380px;
        top: 8px;
    }

    #experience .lists .item1,
    #experience .lists .item2 {
        transform: translateX(-430px);
    }

    #experience .lists .item2 {
        transform: translate(-430px, 450px);
    }

    #experience .lists .item1 a,
    #experience .lists .item2 h1 {
        top: 40%;
        left: 390px;
    }

    #experience .lists .item1 span,
    #experience .lists .item2 span {
        top: 250px;
        left: 50%;
    }
}

/*Navbar disappear (probably should add a dropdown menu)*/
/*Vertical screen fix*/
@media only screen and (max-width: 844px) {
    .topnavbar li a {
        display: none;
    }

    #profileText {
        font-size: 20px;
        height: 250px;
        width: 300px;
    }

    #profile img {
        transform: translateX(-110%);
    }

    .transparent {
        opacity: 100%;
    }

    #sanmar #bg {
        height: 362px;
        width: 740px;
        left: 50vw;
        top: 170px;
        transform: translate(-50%, -181px);
    }

    #sanmar img {
        transform: translate(-115%, 5.5%);
        border: #FFFFFF dashed 2px;
    }

    #sanmar img:hover {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #sanmar #textStuff {
        display: flex;
        border-width: 0;
        height: 340px;
        color: #FFFFFF;
        opacity: 100%;
        border-width: 0;
    }

    #sanmar img:hover~#textStuff {
        border-width: 0;
    }

    #sanmar #textStuff .captioner {
        margin: 0;
        top: 20px;
        color: #FFFFFF;
    }

    #sanmar img:hover~#textStuff .captioner {
        top: 20px;
    }


    #sanmar img:hover+#bg {
        width: 740px;
    }

    #untar #bg {
        height: 362px;
        width: 740px;
        top: 570px;
        transform: translate(-50%, -181px);
    }

    #untar img {
        top: 400px;
        border: #FFFFFF dashed 2px;
        transform: translate(13%, 5.5%);
    }

    #untar img:hover {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #untar #textStuff {
        display: flex;
        border-width: 0;
        height: 340px;
        color: #FFFFFF;
        opacity: 100%;
        border-width: 0;
        transform: translateX(-90%);
    }

    #uuntar img:hover~#textStuff {
        border-width: 0;
    }

    #untar #textStuff .captioner {
        margin: 0;
        top: 20px;
        color: #FFFFFF;
    }

    #untar img:hover~#textStuff .captioner {
        top: 20px;
    }

    #untar img:hover+#bg {
        width: 740px;
    }

    #skills {
        height: 2150px;
    }

    #skills .lists li img {
        transform: translateX(-60%);
    }

    #skills .lists li div {
        width: 400px;
        transform: translate(-60%, 320px);
    }

    #skills .lists li div .listTitle {
        font-size: 30px;
        left: 0px;
        right: 0px;
        text-align: center;
    }

    #skills .lists .item1 {
        top: 0;
    }

    #skills .lists .item2 {
        top: 650px;
    }

    #skills .lists .item3 {
        top: 1300px;
    }

    #skills .lists * .listSubtitle {
        transform: translate(0, 0);
    }

    #experience {
        transform: translateY(850px);
    }

    #experience {
        height: 1440px
    }

    #experience .lists li {
        width: 400px;
        height: 600px;
    }

    #experience .lists li iframe,
    #experience .lists li img {
        width: 380px;
        height: 300px;
        top: 8px;
    }

    #experience .lists .item1,
    #experience .lists .item2 {
        transform: translateX(-60%);
    }

    #experience .lists .item2 {
        transform: translate(-60%, 650px);
    }

    #experience .lists .item1 a,
    #experience .lists .item2 h1 {
        top: 400px;
        left: 0;
    }

    #experience .lists .item1 span,
    #experience .lists .item2 span {
        top: 500px;
        left: 0;
    }

    #contacts {
        transform: translateY(1200px);
    }

}

@media only screen and (max-width: 708px) {
    #content {
        height: 1850px;
    }

    #skills {
        transform: translateY(600px);
    }

    #experience {
        transform: translateY(1450px);
    }

    #contacts {
        transform: translateY(1800px);
    }

    #sanmar #bg {
        height: 680px;
        width: 370px;
    }

    #sanmar img {
        transform: translate(-50%, 5.5%);
    }

    #sanmar img:hover {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #sanmar #textStuff {
        transform: translate(-50%, 320px);

    }

    #sanmar img:hover+#bg {
        height: 680px;
        width: 370px;
    }

    #untar #bg {
        height: 680px;
        width: 370px;
    }

    #untar {
        transform: translateY(300px);
    }

    #untar img {
        transform: translate(-50%, 5.5%);
    }

    #untar img:hover {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #untar #textStuff {
        transform: translate(-50%, 320px);
    }

    #untar img:hover~#textStuff {
        border-width: 0;
    }

    #untar img:hover+#bg {
        height: 680px;
        width: 370px;
    }

    #skills .partTitle {
        top: 30px;
    }
}