/*Gonna fix this*/
/*My head hurts*/
@media only screen and (max-width: 600px) {
    #handle {
        font-size: 7vw;
        padding: 3vw;
    }

    #bannerName {
        font-size: 9vw;
    }

    #bannerWelcome {
        font-size: 5vw;
    }

    #banner {
        height: 70vw;
    }

    #content {
        top: 70vw;
        height: 500vw;
    }

    .partTitle {
        font-size: 10vw;
        width: 60vw;
    }

    #profile img {
        width: 60vw;
        top: 25vw;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    #profileText {
        top: 25vw;
        font-size: 4vw;
        line-height: 6vw;
        width: 58vw;
        height: 55.6vw;
        padding-left: 2vw;
        left: 50%;
        border-radius: 20px;
        transform: translate(-50%, 0.5%);
        color: #FFFFFF;
        background-color: rgba(1, 1, 1, 0.5);
        opacity: 0;
        transition: 0.5s;
    }

    #profileText:hover {
        opacity: 100%;
    }

    #educationAndAchievements {
        top: 90vw;
    }

    #sanmar #textStuff .item1,
    #sanmar #textStuff .item2,
    #sanmar #textStuff .item3,
    #sanmar #textStuff .captioner,
    #untar #textStuff .captioner {
        font-size: 6vw;
    }

    #untar #textStuff .item1,
    #untar #textStuff .item2,
    #untar #textStuff .item3 {
        font-size: 5.5vw;
        width: 72vw;
        text-align: center;
    }

    #sanmar #bg {
        height: 136vw;
        width: 74vw;
    }

    #sanmar img {
        width: 60vw;
        height: 60vw;
    }

    #sanmar img:hover {
        width: 60vw;
        height: 60vw;
    }

    #sanmar #textStuff {
        transform: translate(-50%, 64vw);
        height: 68vw;
    }

    #sanmar #textStuff .captioner {
        top: 5vw;
    }

    #sanmar img:hover~#textStuff .captioner {
        top: 5vw;
        font-size: 6vw;
    }

    #sanmar img:hover~#textStuff {
        height: 68vw;
    }

    #sanmar img:hover+#bg {
        height: 136vw;
        width: 74vw;
    }

    #untar #bg {
        height: 136vw;
        width: 74vw;
    }

    #untar {
        transform: translateY(68vw);
    }

    #untar img {
        width: 60vw;
        height: 60vw;
    }

    #untar img:hover {
        width: 60vw;
        height: 60vw;
    }

    #untar #textStuff {
        transform: translate(-50%, 64vw);
        height: 68vw;
    }

    #untar img:hover~#textStuff {
        height: 68vw;
    }


    #untar #textStuff .captioner {
        top: 5vw;
    }

    #untar img:hover~#textStuff .captioner {
        top: 5vw;
        font-size: 6vw;
    }

    #untar img:hover+#bg {
        height: 136vw;
        width: 74vw;
    }

    #skills {
        margin-top: 260vw;
    }

    #skills .lists li img {
        width: 80vw;
        height: auto;
    }

    #skills .lists li div {
        width: 80vw;
        transform: translate(-60%, 64vw);
    }

    #skills .lists li div .listTitle {
        font-size: 7vw;
        left: 0px;
        right: 0px;
        text-align: center;
    }

    #skills .lists li div .listSubtitle {
        font-size: 5vw;
    }

    #skills .lists .item2 {
        top: 130vw;
    }

    #skills .lists .item3 {
        top: 260vw;
    }

    .listSubtitle .wrapped {
        list-style-type: disc;
        transform: translate(40vw, -30vw);
    }

    #skills {
        height: 500vw;
    }

    #experience {
        top: 535vw;
        height: 315vw;
    }

    #experience .lists li {
        width: 80vw;
        height: 120vw;
    }

    #experience .lists li iframe,
    #experience .lists li img {
        width: 75vw;
        height: 60vw;
        top: 4vw;
    }

    #experience .lists .item1 {
        transform: translateX(-60%);
    }

    #experience .lists .item2 {
        transform: translate(-60%, 130vw);
    }

    #experience .lists .item1 a,
    #experience .lists .item2 h1 {
        top: 80vw;
        left: 0;
    }

    #experience .lists .item1 span,
    #experience .lists .item2 span {
        top: 100vw;
    }

    #contacts {
        top: 830vw;
        height: 50vw;
    }

}

/*Ugh I actually have to write this*/
@media only screen and (max-width: 400px) {
    #educationAndAchievements {
        transform: translateX(-2%);
    }

    #untar {
        transform: translateY(40vw);
    }

    #content {
        height: 500vw;
    }

    #skills {
        margin-top: 220vw;
    }

    #skills .lists .item1 {
        top: -20vw;
    }

    #skills .lists .item2 {
        top: 115vw;
    }

    #skills .lists .item3 {
        top: 245vw;
    }

    #skills .lists li img {
        transform: translateX(-65%);
    }

    #skills .lists li div {
        transform: translate(-65%, 64vw);
    }

    .listSubtitle ul {
        line-height: 6vw;
    }

    .listSubtitle .wrapped {
        list-style-type: disc;
        transform: translate(40vw, -24vw);
    }

    #experience {
        top: 430vw;
        height: 315vw;
    }

    #experience .lists .item1 {
        transform: translate(-65%, -20vw);
    }

    #experience .lists .item2 {
        transform: translate(-65%, 110vw);
    }

    #experience .lists li iframe,
    #experience .lists li img {
        width: 75vw;
        height: 60vw;
        top: 3vw;
        left: 2.5vw;
    }

    #experience .lists .item1 a,
    #experience .lists .item2 h1,
    #experience .lists .item1 span,
    #experience .lists .item2 span {
        font-size: 7vw;
    }


    #contacts {
        top: 690vw;
    }
}

/*Height fixes. I shouldve used relative instead of playing absolute position*/
@media only screen and (max-width: 350px) {
    #experience {
        top: 410vw;
    }

    #contacts {
        top: 670vw;
    }
}

@media only screen and (max-width: 300px) {
    #handle {
        padding: 4vw;
    }

    #experience {
        top: 380vw;
    }

    #contacts {
        top: 630vw;
    }
}

/*I looked it up, this time 280px is definitely uncommon in 2025*/
@media only screen and (max-width: 280px) {

    body div,
    body ul {
        opacity: 0;
    }

    body h3 {
        opacity: 100%;
        z-index: 1000;
    }
}