#subtype:has(option[value="electrostatic"]:checked)~#currentContext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    align-items: center;
    justify-content: start;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
}


#subtype:has(option[value="electrostatic"]:checked)~#currentContext div {
    height: fit-content;
    /* display: flex; */
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext .q {
    margin-top: 10px;
    margin-bottom: 10px;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext div.q button {
    display: inline;
    width: 30px;
    height: 30px;
    color: aliceblue;
    border-style: solid;
    border-radius: 5px;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext .q .addCharge {
    background-color: #00b5ec;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext .q .deleteCharge {
    background-color: red;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext div label {
    font-size: 20px;
    margin: 10px 20px;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext div input[type="number"] {
    font-size: 20px;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    transition: 0.5s;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext div input[type="number"]:focus,
#subtype:has(option[value="electrostatic"]:checked)~#currentContext div input[type="number"]:hover {
    background-color: azure;
}

#subtype:has(option[value="electrostatic"]:checked)~#currentContext div button {
    display: inline-block;
    font-size: large;
    width: fit-content;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    #subtype:has(option[value="electrostatic"]:checked)~#currentContext {
        padding-bottom: 5vw;
        padding-top: 1vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext div {
        padding-left: 3vw;
        padding-right: 1vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext .q {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext div.q button {
        width: 8vw;
        height: 8vw;
        border-radius: 2vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext div label {
        font-size: 4vw;
        margin: 1vw 5vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext div input[type="number"] {
        font-size: 4vw;
        width: 60vw;
        border-radius: 2vw;
        padding: 2vw;
        padding-left: 2vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext div.q div span {
        font-size: 4vw;
    }

    #subtype:has(option[value="electrostatic"]:checked)~#currentContext div.E span {
        font-size: 4vw;
    }

}