#topnavbar {
    background-color: #00171F;
    position: fixed;
    z-index: 1000;

    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

li {
    float: left;
}

#topnavbar li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 64px;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px;
    justify-self: center;
}

#topnavbar li span {
    display: block;
    position: absolute;
    bottom: 0;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 46px;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    #topnavbar {
        z-index: 1000;
        width: 100vw;
    }

    #topnavbar {
        display: flex;
        justify-content: center;
    }

    #topnavbar li a {
        font-size: 10vw;
    }

    #topnavbar li span {
        display: none;
    }
}